body{
    
    background-color: white;
    margin: 0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100hv;

}

.PomoContainer{
    background-color: darkgreen;
    text-align: center;
    width: 400px;
    height: 200px;

    border-radius: 30px;
   
    padding:20px; 

    
}

p{
    color: pink;
}

.Display{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    background-color: darkgreen;
}



.StatusText{
    size: 30px;
    
}

.ButtonContainer button{
   font-size: 1.5rem;

   padding: 10px 15px;
   margin: 17px;



}


.OutsideBorder{
    background-color: pink;
    display: flex;
    
    justify-content: center;
    align-items: start;
    height:600px;
    width: 500px;

    padding-top: 30px;

}


.spaceDiv{
    height: 40px;
}

